@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="pull-right">
    @{ if (@Session["UserName"] != null)
        {
            <h4>User Name: @Session["UserName"]</h4>

            <h4>User Email: @Session["UserEmail"]</h4>
        }
    }
    </div>
    <h1>MVC APP</h1>
    <h2 class="lead"> Ariel Garinei </h2>
    @*<h3>App status : </h3>*@
</div>

<div class="row pull-right">
    <div class="col-md-10">

    </div>
</div>